* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
    background: radial-gradient(40% 50%, #FAECD5, #dfe8fc);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  gap: 10px;
}
